*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #4c574c;
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  color: #2b312a;
  line-height: 1.1;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-size: 3rem;
}

h3 {
  margin: 0;
  font-weight: 500;
}

p {
  margin: 0;
}

/* Button */
.btn {
  border: 0;
  padding: 1rem 3rem;
  border-radius: 5px;
  text-wrap: nowrap;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
}

.btn--primary {
  background: none;
  border: 2px solid #fff;
  transition: background 0.3s, color 0.3s;
  margin: 2rem 0;
}

.btn--primary:hover {
  background: #fff;
  color: #638060;
}

.btn--secondary {
  background: #638060;
  transition: background 0.3s;
}

.btn--secondary:hover {
  background: #2b312a;
}

.btn--block {
  width: 100%;
}

/* category */
.category {
  padding: 2rem;
  background: #fff;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 0 5px lightgray;
  max-width: 30rem;
  margin: 0 auto;
}

.category__image {
  width: 100%;
  border-radius: 1.5rem;
}

.category__text {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

@media screen and (min-width: 1024px) {
  .category {
    box-shadow: none;
  }
}

/* Pastry card */
.card-pastry {
  position: relative;
  max-width: 30rem;
  margin: 0 auto;
}

.card-pastry__image {
  border-radius: 2rem;
  width: 100%;
}

.card-pastry__text {
  font-size: 1.5rem;
  font-weight: 600;
  background: #fff;
  padding: 1.5rem;
  display: inline-block;
  position: absolute;
  bottom: -2.5rem;
  right: 1.5rem;
  left: 1.5rem;
  border-radius: 2rem;
  text-transform: capitalize;
}

/* Reason card */
.card-reason {
  background: #fff;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 35rem;
  margin: 0 auto;
}

.reason__number {
  color: #2b312a;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #d0e0ce;
  border-radius: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.reason__heading {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.reason__btn {
  border-color: #638060;
  color: #4c574c;
  margin-top: 2rem;
  transition: background 0.3s, color 0.3s;
}

.reason__btn:hover {
  background: #4c574c;
  color: #fff;
}

/* Blocks */
.block {
  padding: 4rem 1.5rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.block h1,
.block h2 {
  margin-top: 0;
}

/* Grids */
.grid {
  display: grid;
  gap: 2rem;
}

.grid-mb--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--auto {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Hero Section */
.block--hero {
  color: #fff;
  background-image: url(/images/hero-pastry.jpg);
  filter: grayscale(45%);
  background-size: cover;
  transition: background 0.3s;
}

.block--hero h1 {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .block--hero {
    background-image: url(/images/hero-pastry-cropped.jpg);
  }
}

@media screen and (min-width: 1024px) {
  .block--hero {
    padding-bottom: 19rem;
  }
}

/* Categories section */
.block--category {
  transition: transform 0.3s;
}
@media screen and (min-width: 1024px) {
  .block--category {
    transform: translateY(-18rem);
  }
}

.arrow-link {
  display: inline-block;
  margin-top: 5rem;
  color: #638060;
  font-size: 2rem;
}

.arrow-link--right {
  transition: color 0.3s;
}

.arrow-link--left {
  transition: color 0.3s;
}

.link__arrow {
  vertical-align: middle;
  transition: margin 0.3s;
}

.arrow-link--right:hover .link__arrow {
  margin-left: 6px;
}
.arrow-link--left:hover .link__arrow {
  margin-right: 6px;
}

.arrow-link:hover {
  color: #2b312a;
}

/* Pastry Section */
.block--pastry {
  background: #d3e1cf;
}

.pastry__text {
  margin-bottom: 4rem;
}

.pastry__section {
  row-gap: 5rem;
}

.all-pastries__heading {
  font-family: 'Tangerine', cursive;
  font-size: 6rem;
}

.all-pastries .card-pastry__text {
  font-size: 1.3rem;
  transition: font-size 0.3s;
}

@media screen and (min-width: 1024px) {
  .all-pastries .card-pastry__text {
    font-size: 1.8rem;
  }
}

/* Benefits Section */
.block--benefits {
  background: #d3e1cf;
}

.benefits__heading {
  margin-bottom: 4rem;
}

/* Bio */
.bio {
  background: #d3e1cf;
  padding: 4rem 2rem;
  background: url(/images/bio-bg.jpg);
  background-size: cover;
  border-radius: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  color: #fff;
}

.bio a {
  color: #fff;
}

.bio h3 {
  color: #fff;
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.bio__image {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #4c574c;
}

.bio__socials {
  font-size: 3rem;
  margin-top: 2rem;
  background: hsla(0, 0%, 100%, 0.3);
  padding: 1rem 2rem;
  border-radius: 2rem;
}

.bio__socials .bio__icon:nth-of-type(2) {
  margin: 0 2rem;
}

.bio__socials .bio__icon:nth-of-type(3) {
  margin-right: 2rem;
}

.bio__icon {
  transition: color 0.3s;
}

.bio__icon:hover {
  color: #2b312a;
}

.about__heading {
  margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
  .bio {
    text-align: left;
  }
}

/* Bakers info section */

.info__certificate {
  width: 100%;
  max-width: 50rem;
  max-height: 50rem;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 4rem;
}

/* Media */
.media {
  display: flex;
  align-items: center;
}

.media__text {
  margin-left: 1rem;
}

/* Footer Section */
.block--footer {
  background: #2b312a;
  color: #fff;
  font-size: 1.8rem;
  padding-top: 13rem;
}

.footer__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.footer__sections {
  gap: 0;
}

.footer__links-item {
  margin-bottom: 1.5rem;
  transition: color 0.3s;
}

.footer__links a {
  color: #fff;
}

.footer__socials a {
  color: #fff;
}

.links__item a {
  margin-left: 1rem;
}

.footer__links-item:hover a {
  text-decoration: underline;
  color: #c9e6c5;
}

.footer__icon {
  font-size: 2.5rem;
  margin: 0 5px;
  transition: color 0.3s;
}

.footer__icon:hover {
  color: #c9e6c5;
}

.copyright {
  margin-top: 2rem;
  border-top: 2px solid hsla(0, 0%, 83%, 0.5);
  padding: 1rem;
  color: hsla(0, 0%, 83%, 0.5);
}

@media screen and (min-width: 1024px) {
  .footer__links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__links-item {
    margin: 0;
  }

  .footer__sections {
    align-items: center;
  }

  .copyright {
    text-align: left;
  }
}

/* Navigation bar */
.nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #d3e1cf;
  padding: 1rem 1rem 0;
  position: relative;
  left: 0;
  right: 0;
  width: auto;
  z-index: 1;
}

.nav__body {
  background: #d3e1cf;
  box-shadow: -25rem 0 #1a2c5499;
  height: 100vh;
  padding: 8rem 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 78%;
  z-index: -1;
  transition: max-height 0.3s, padding 0.3s, box-shadow 0.3s, overflow 0.3s;
}

.nav__logo {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
  position: relative;
  border-radius: 0.5rem;
  z-index: -1;
}

.nav__menu {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
}

.nav__close {
  position: absolute;
  left: 0;
}

.nav__open {
  display: none;
}

.nav__item {
  padding: 1rem 0;
}

.nav__list {
  list-style: none;
  padding-left: 0;
}

.nav__item a {
  color: #1a2c54;
  width: 100%;
  font-weight: 600;
  display: inline-block;
}

.nav__item:hover a {
  text-decoration: underline;
}

.nav--btn {
  max-width: 50rem;
}

.nav--collapsed .nav__body {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: none;
}

.nav--collapsed .nav__open {
  display: initial;
}

.nav--collapsed .nav__close {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
    padding: 1.5rem 1rem;
  }

  .nav__menu {
    display: none;
  }

  .nav__body {
    box-shadow: none;
    position: initial;
    height: auto;
    background: none;
    display: grid;
    grid-template-columns: 52% 1fr;
    align-items: center;
    padding: 0;
    justify-items: center;
    width: 85%;
  }

  .nav__list {
    margin: 0;
    justify-self: end;
  }

  .nav__item {
    display: inline-block;
    margin-right: 2rem;
  }

  .nav--btn {
    width: initial;
    justify-self: end;
  }

  .nav--collapsed .nav__body {
    max-height: 100%;
    overflow: visible;
  }
}

/* CTA */
.block--callout {
  background: #d3e1cf;
  margin: 0 auto;
  max-width: 70rem;
  border-radius: 3rem;
}

.callout-section {
  padding: 0 2rem;
  transform: translateY(8rem);
}

.callout__heading {
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
