*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #4c574c;
  text-align: center;
}

h1,
h2,
h3 {
  color: #2b312a;
  margin-bottom: 1.1;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  font-weight: 600;
  margin-bottom: 0.8rem;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

p {
  margin: 0;
}

/* Button */
.btn {
  border: 0;
  padding: 1rem 3rem;
  border-radius: 5px;
  text-wrap: nowrap;
  color: #fff;
}

.btn--primary {
  background: none;
  border: 2px solid #fff;
}

.btn--secondary {
  background: #638060;
}

.btn--block {
  width: 100%;
}

/* category */
.category {
  padding: 2rem;
  background: #fff;
  overflow: hidden;
  border-radius: 1.5rem;
}

.category__image {
  width: 100%;
  border-radius: 1.5rem;
}

.category__text {
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

/* Pastry card */
.card-pastry {
  position: relative;
}

.card-pastry__image {
  border-radius: 2rem;
  width: 100%;
}

.card-pastry__text {
  font-size: 2rem;
  font-weight: 600;
  background: #fff;
  padding: 1.5rem;
  display: inline-block;
  position: absolute;
  bottom: -2rem;
  right: 8rem;
  left: 8rem;
  border-radius: 2rem;
}
