<section class="block block--benefits">
  <h2 class="benefits__heading">
    Why You Should patronise Ire's pastry kitchen
  </h2>
  <div class="grid grid--1x2 grid--auto container">
    <div class="card-reason">
      <span class="reason__number">1</span>
      <h3 class="reason__heading">Baked Straight from the Heart</h3>
      <p>
        Every pastry is made by hand in a clean kitchen, with real care and
        attention to detail you can taste in every bite.
      </p>
    </div>
    <div class="card-reason">
      <span class="reason__number">2</span>
      <h3 class="reason__heading">No boring bites here</h3>
      <p>
        These aren't your average pastries--you'll find special touches and
        flavors that reflect the owner's creativity and passion.
      </p>
    </div>
    <div class="card-reason">
      <span class="reason__number">3</span>
      <h3 class="reason__heading">Your order, your way</h3>
      <p>
        Orders are prepared fresh and based on what you want. Whether it's a
        favourite flavor or a custom request, you get a personal touch.
      </p>
    </div>
    <div class="card-reason">
      <span class="reason__number">2</span>
      <h3 class="reason__heading">Help a dream grow</h3>
      <p>
        Every purchase helps a young enterpreneur grow her passion and business.
        It's more than a treat--it's a way to uplift someone's dream.
      </p>
    </div>
  </div>
</section>
