<article class="bio">
  <img class="bio__image" src="images/adeola.jpg" alt="adeola" />
  <h3>Meet Adeola</h3>
  <p>
    Adeola is a passionate enterpreneur with a love for creating delicious
    pastries and a sharp eye for top-quality gadgets. Whether she's baking sweet
    treats or offering tech gadgets, her customers know they're getting nothing
    but the best. Known for her honesty and dedication, Adeola is building a
    brand rooted in trust, quality, and care.
  </p>
  <div class="bio__socials">
    <a
      target="_blank"
      class="bio__icon"
      href="https://www.facebook.com/share/14x29bhN9M8/?mibextid=wwXIfr"
      ><i class="fa-brands fa-square-facebook"></i
    ></a>
    <a
      target="_blank"
      class="bio__icon"
      href="https://www.instagram.com/oluwa_tii_damilola?igsh=bmMydTdsZ3V1N3A1&utm_source=qr"
    >
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a target="_blank" class="bio__icon" href="mailto:Adaempire62@gmail.com"
      ><i class="fa-solid fa-envelope"></i
    ></a>
  </div>
</article>
