<div class="block grid grid--1x2 grid--1x3 container block--category">
  <div class="category">
    <img class="category__image" src="images/cake.jpg" alt="cake" />
    <p class="category__text">Cakes</p>
  </div>
  <div class="category">
    <img class="category__image" src="images/pastries.jpg" alt="cake" />
    <p class="category__text">Pastries</p>
  </div>
  <div class="category">
    <img class="category__image" src="images/dishes.jpg" alt="cake" />
    <p class="category__text">Home Style Dishes</p>
  </div>
</div>
