<footer class="block block--footer">
  <div class="grid grid--auto container footer__sections">
    <ul class="footer__links">
      <li class="footer__links-item">
        <div class="media">
          <span class="fa-solid fa-location-dot"></span>
          <p class="media__text">Lagos nigeria</p>
        </div>
      </li>
      <li class="footer__links-item">
        <a href="mailto:Adaempire62@gmail.com">
          <div class="media">
            <span class="fa-solid fa-envelope"></span>
            <p class="media__text">Email me</p>
          </div></a
        >
      </li>
    </ul>
    <div class="footer__socials">
      <a
        class="footer__icon"
        target="_blank"
        href="https://www.facebook.com/share/14x29bhN9M8/?mibextid=wwXIfr"
        ><i class="fa-brands fa-square-facebook"></i
      ></a>
      <a
        class="footer__icon"
        target="_blank"
        href="https://www.instagram.com/oluwa_tii_damilola?igsh=bmMydTdsZ3V1N3A1&utm_source=qr"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
  <p class="copyright">2025 Ire's pastry kitchen &copy;</p>
</footer>
