<section class="block block--hero">
  <div class="container">
    <h1>We bake joy, from first bite to last crumb.</h1>
    <p>
      We make the treats you love - from quick bites to party-sized platters!
      Stop by for our fresh-baked cakes, yummy desserts, tasty snacks, colorful
      parfaits, and juicy chops. Need something special for a birthday? We've
      got you covered with custom packages that'll make your celebration
      unforgettable!
    </p>
    <a href="https://wa.me/message/WL4MRPR4AIVAO1" class="btn btn--primary"
      >reach out to me</a
    >
  </div>
</section>
