<section class="block block--pastry">
  <h2>Our Delicious Creations</h2>
  <p class="pastry__text">
    Take a peek at what's been making our customers smile. Each treat is crafted
    with care and ready for your next celebration or sweet craving.
  </p>
  <div class="grid grid--1x2 grid--1x3 container pastry__section">
    <div class="card-pastry">
      <img class="card-pastry__image" src="images/dishes.jpg" alt="dishes" />
      <span class="card-pastry__text">Food Packages</span>
    </div>
    <div class="card-pastry">
      <img
        class="card-pastry__image"
        src="images/budget-cake.jpg"
        alt="budget cake"
      />
      <span class="card-pastry__text">budget friendly cakes</span>
    </div>
    <div class="card-pastry">
      <img
        class="card-pastry__image"
        src="images/cake-loaves.jpg"
        alt="cake loaves"
      />
      <span class="card-pastry__text">cake loaves</span>
    </div>
  </div>
  <a class="arrow-link arrow-link--right" href="./all-pastries.html"
    >see more of my works <i class="fa-solid fa-arrow-right link__arrow"></i
  ></a>
</section>
